<nav class="navbar navbar-light bg-info">
  <span class="navbar-text">
    <% if current_user.try(:admin?) %> 
      <%= link_to "Admin Panel", admin_tests_path, class: 'navbar-brand' %> 
    <% else %>
      <%= link_to "TestGuru", root_path, class: 'navbar-brand' %> 
    <% end %>
  </span>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> Guru | 
      <%= link_to "logout", destroy_user_session_path, method: :delete,  data: { confirm: 'Are you sure?' } %> 
    <% else %>
      <%= link_to "logo in", new_user_session_path %> 
      <%= link_to "Sigh up", new_user_registration_path %> 
    <% end %>
  </span>
</nav>
 