<h1><%= t('.header') %></h1>

<p><%= link_to 'create', new_admin_test_path %></p>

<table>
  <tr>
    <th><%= t('.title', title: @test.title) %></th>
	  <th><%= t('.level', level: @test.level) %></th>
	  <th colspan="4"><%= t('.actions', actions: @test.actions) %></th>
  </tr>

  <tbody>
  	<%= render @tests %>
  </tbody>
</table> 
