<div class="row justify-content-center mt-3">
  <div class="col col-md-12">
      <h1 ><%= t('.header') %></h1>
    
    <table>
      <tr>
        <th><%= t('.title', title: @test.title) %></th>
	      <th><%= t('.level', level: @test.level) %></th>
	      <th><%= t('.actions', actions: @test.actions) %></th>
      </tr>

      <tbody>
        <%= render @tests %>
      </tbody>
    </table> 
   </div>
</div>
